@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    /* color: #ffe600; */
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size:2.75em;
    font-family: serif;
}

article img {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    padding: 1em 2em;
}

article h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: serif;
    color: rgb(253, 186, 116)
}

article p {
    margin: 1em 0;
}

pre {
    padding: 1.25em;
    background:#000;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

code {
    color: #ffe600;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}